:root {
  --fuenteprincipal: "Bai Jamjuree", cursive;
}

* {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(55, 55, 227, 1) 0%,
    rgba(0, 212, 255, 1) 100%
  );
  font-weight: 700;
  display: flex;
  justify-content: center;
  font-family: var(--fuenteprincipal);
}

.container {
  background-image: url(/fondo-de-juego2.webp);
  background-size: cover;
  border: 0.8rem solid black;
  border-radius: 7rem;
  margin-top: 7rem;
  padding: 9rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

.title {
  font-size: 2.4rem;
  font-weight: 700;
  text-align: center;
  margin-top: 3.5rem;
  color: rgb(255, 255, 255);
  padding: 1rem;
}

.button__start,
.button__greater,
.button__smaller {
  background: linear-gradient(
    90deg,
    rgb(121, 16, 16) 0%,
    rgba(255, 0, 0, 1) 97%,
    rgba(227, 55, 55, 1) 100%
  );
  padding: 3.3rem;
  width: 9.2rem;
  border-radius: 50%;
  border: 0.6rem solid rgb(255, 255, 255);
  border-style: dashed;
  cursor: pointer;
  font-weight: 700;
  font-size: 1.4rem;
  display: flex;
  justify-content: center;
  color: white;
  box-shadow: inset 1px 3px 2px 0.5px rgb(196, 60, 60);
  box-shadow: 1px 1px 2px 1px rgb(100, 8, 8);
}

.button__start:active,
.button__greater:active,
.button__smaller:active {
  opacity: 0.7;
}

.container__game {
  margin-top: 7rem;
  background-image: url(/fondo-mesa-poker.avif);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.4rem;
  width: 50rem;
  border: 0.8rem solid black;
  box-shadow: inset 1px 3px 3px 1.5px rgb(0, 0, 0);
}

.container__game__cards {
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

.card1,
.card2 {
  background-color: rgba(255, 255, 255, 0.977);
  border: 0.1rem solid black;
  width: 13rem;
  height: 21rem;
  list-style: none;
  border-radius: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  box-shadow: 1px 1px 1px 1px rgb(0, 0, 0);
}

.display__result,
.display__info {
  padding: 1rem;
  font-size: 2.3rem;
  color: rgb(255, 255, 255);
  text-align: center;
}

.button__container {
  display: flex;
  flex-direction: row;
  gap: 4rem;
  margin-bottom: 2rem;
}

.hidden {
  display: none;
}
